<% layout('layouts/boilerplate') -%>
<h1>Posts Index</h1>

<% include ../partials/pagination %>

<hr />

<%# the loop %>
<% posts.docs.forEach(function(post){ %>
  <div class="">
    <h2><%= post.title %></h2>
    <div><%= post.price %></div>
    <div><%= post.description %></div>
    <div><%= post.location %></div>
    <div class="">
      <a href="/posts/<%= post.id %>">View more of <%= post.title %></a>
    </div>
  </div>
<% });%>

<hr />

<% include ../partials/pagination %>

<hr />
<div class="">
  <a href="/posts/new">Create New Post</a>
</div>
