<% layout('layouts/boilerplate') -%>
<h1>Posts Index</h1>

<% posts.forEach(function(post){ %>

  <div class="">
    <h2><%= post.title %></h2>
    <div><%= post.price %></div>
    <div><%= post.description %></div>
    <div><%= post.location %></div>
    <div class="">
      <a href="/posts/<%= post.id %>">View more of <%= post.title %></a>
    </div>
  </div>

<% });%>

<hr />
<div class="">
  <a href="/posts/new">Create New Post</a>
</div>
