<!-- mapbox code -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css' rel='stylesheet' />
<style>
  body {
    margin: 0;
    padding: 0;
  }

  #map {
    position: relative;
    top: 0;
    bottom: 0;
    width: 75%;
    height: 450px;
  }
  .marker {
  background-image: url('/images/mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
</style>
<!-- / mapbox code -->

<h1><%= post.title %></h1>
<div><%= post.price %></div>
<div><%= post.description %></div>
<div><%= post.location %></div>

<% post.images.forEach(function(image){ %>
  <div class="">
      <img src="<%= image.url %>" width="200px">
  </div>
<% });%>

<div id='map'></div> <!-- mapbox map -->

<div class="">
  <a href="/posts/<%= post.id %>/edit">
    <button>Edit</button>
  </a>
</div>
<div class="">
  <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
    <input type="submit" value="Delete">
  </form>
</div>
<div class="">
  <a href="/posts">Back to Index</a>
</div>

<!-- mapbox code -->
<script>

// make a LOCAL variable from a SERVER-SIDE object - JSON.stringify turns an object (i.e. the Post Object in this case) into a string so it can be used in client-side JS

var post = <%- JSON.stringify(post) %>;

// Initialise Map

mapboxgl.accessToken = 'pk.eyJ1IjoibWlrZWNoYWxtZXJzIiwiYSI6ImNrYzI5dTNoZTIxanMyd214cHJpZmZpdW4ifQ.e3vhqufW1d5uUry3RG8lYg';

var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mikechalmers/ckc4vs39n13g61iqgatv4ryoa',
  center: post.coordinates,
  zoom: 10
});

// // Load GeoJSON data
//
// var geojson = {
//   type: 'FeatureCollection',
//   features: [{
//     type: 'Feature',
//     geometry: {
//       type: 'Point',
//       coordinates: [151.21111, -33.88611]
//     },
//     properties: {
//       title: 'Mapbox',
//       description: 'Surry Hills !!!'
//     }
//   }]
// };

// Add marker to map

// create a HTML element
var el = document.createElement('div');
el.className = 'marker';

// make a marker and add to the map
new mapboxgl.Marker(el)
  .setLngLat(post.coordinates)
  .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups - pixels above marker center
  .setHTML('<h3>' + post.title + '</h3><p>' + post.location + '</p>'))
  .addTo(map);

</script>
<!-- / mapbox code -->
