<h1><%= post.title %></h1>
<div><%= post.price %></div>
<div><%= post.description %></div>
<div><%= post.location %></div>
<div class="">
  <a href="/posts/<%= post.id %>/edit">Edit <%= post.title %></a>
</div>
<div class="">
  <a href="/posts">Back to Index</a>
</div>
